<ngx-spinner
size="medium"
color="#fff"
type="ball-fussion"
>
<br>    
<img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<h5>
Informes &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">table_chart</mat-icon>
<i class="material-icons" style="vertical-align: bottom;">navigate_next</i>
Informe general &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">insert_chart</mat-icon>
</h5>
<mat-tab-group class="mat-elevation-z8">
<mat-tab label="Registros Cargados">
    <app-registroscargados></app-registroscargados>
</mat-tab>
<mat-tab label="Deudas Creadas">
    <app-deudascreadas></app-deudascreadas>
</mat-tab>
<mat-tab label="Cobros Existosos">
    <app-cobros></app-cobros>
</mat-tab>
<mat-tab label="Deudas Pendientes">
    <app-ipendientes></app-ipendientes>
</mat-tab>
</mat-tab-group>