
<ngx-spinner
size="medium"
color="#fff"
type="ball-fussion"
>
<br>    
<img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<h5>
Informes &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">table_chart</mat-icon>
<i class="material-icons" style="vertical-align: bottom;">navigate_next</i>
<span title="Cargados por transacción">Cargados TX</span>  &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">assignment</mat-icon>
</h5>
<app-listaicargadostx></app-listaicargadostx>