<ngx-spinner
size="medium"
color="#fff"
type="ball-fussion"
>
<br>    
<img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<h5>
Informes &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">table_chart</mat-icon>
<i class="material-icons" style="vertical-align: bottom;">navigate_next</i>
<span title="Reporte registros cargados mes a mes por transacción Vs Deudas creadas mes a mes por transacción">CargadosVSDeudas</span> &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">assignment</mat-icon>
</h5>
<mat-tab-group class="mat-elevation-z8">
<mat-tab label="Registros Cargados">
    <app-listaregiscar></app-listaregiscar>
</mat-tab>
<mat-tab label="Deudas Creadas">
    <app-listadeucre></app-listadeucre>
</mat-tab>
</mat-tab-group>