<ngx-alerts></ngx-alerts>
    <ngx-spinner
        size="medium"
        color="#fff"
        type="ball-fussion"
    >
        <br>    
        <img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
    </ngx-spinner>
<h5>
    Consultas &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">insert_chart</mat-icon>
    <i class="material-icons" style="vertical-align: bottom;">navigate_next</i>
    Transacciones &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">autorenew</mat-icon>
</h5>
<app-listatransacciones></app-listatransacciones>