<div class="mat-elevation-z8">
  <br>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-6">
          Existen <span class="badge badge-pill badge-info">{{dataSource?.data.length}}</span> parámetros configurados.
        </div>
        <div class="col-6">
          <button mat-mini-fab id="agregar" title="Agregar un parámetro" data-toggle="modal" data-target="#exampleModalS" style="padding-top: 0px; float: center;
          padding-bottom: 0px;" data-backdrop="false" (click)="agregarRegistro()">
            <i class="material-icons" id="icono">
              add
            </i>
          </button>
        </div>
      </div>
    </div>
  </div> 
  <br>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50px;">Id</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.id" title="{{row.id}}">...</span>
      </td>
    </ng-container>

    <!-- Nombre Regla Column -->
    <ng-container matColumnDef="nombreRegla">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;">Nombre Regla</th>
      <td mat-cell *matCellDef="let row">{{row.nombreRegla}}</td>
    </ng-container>

    <!-- Valor Regla Column -->
    <ng-container matColumnDef="valorRegla">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;">Valor Regla</th>
      <td mat-cell *matCellDef="let row">{{row.valorRegla}}</td>
    </ng-container>

    <!-- Descripción Regla Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 400px;">Descripción</th>
      <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
    </ng-container>

    <!-- Editar Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab color="primary" title="Editar parámetro {{row.nombreRegla}}" (click)="editarRegistro(row)" data-toggle="modal" data-target="#exampleModal" data-backdrop="false" style="padding-top: 0px;
        padding-bottom: 0px;float: left;"> <i class="material-icons" id="icono">edit</i></button>
      </td>
    </ng-container>

    <!-- Eliminar Column -->
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>        
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab title="Eliminar parámetro {{row.nombreRegla}}" id="eliminar" (click)="eliminarRegistro(row)" data-toggle="modal" data-target="#exampleModalE" data-backdrop="false" style="padding-top: 0px;
        padding-bottom: 0px;float: left;"><i class="material-icons" id="icono">delete</i> </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="6"
      [pageSizeOptions]="[]">
  </mat-paginator>
</div>

<!-- Modal Insertar -->
<div class="modal fade" id="exampleModalS" aria-labelledby="exampleModalLabel" style="background-color:  rgba(7, 65, 7, 0.5)">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="parametro">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{headerModal}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-top: -20px; margin-bottom: -30px;">
          <div class="col-3"></div>
          <div class="col-6">
            <br>
            <form>
              <!--Input descripción-->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput [formControl]="descripcionParametroControl"
                        [errorStateMatcher]="matcher" type="text" matInput placeholder="Descripción" value="{{descripcionParametro}}" #descripcionParametroI required id="descripcionParametroI">
                <mat-icon matSuffix>text_format</mat-icon>
                <mat-error *ngIf="descripcionParametroControl.hasError('required')">
                  Descripción es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <!--Input valor campo-->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Valor campo</mat-label>
                <mat-icon matSuffix>create</mat-icon>
                <input matInput [formControl]="valorCampoParametroControl"
                        [errorStateMatcher]="matcher" type="text" matInput placeholder="Valor campo" value="{{valorCampoParametro}}" #valorCampoI required id="valorCampoI">
                <mat-error *ngIf="valorCampoParametroControl.hasError('required')">
                  Valor campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <!--Input nombre-->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <mat-icon matSuffix>drag_handle</mat-icon>
                <input matInput [formControl]="nombreParametroControl"
                        [errorStateMatcher]="matcher" type="text" matInput placeholder="Nombre parámetro" value="{{nombreParametro}}" #nombreParametroI required id="nombreParametroI">
                <mat-error *ngIf="nombreParametroControl.hasError('required')">
                  Nombre es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </form>
            <br><br>
            <!--Botón guardar--> 
            <span *ngIf="descripcionParametroControl.hasError('required') || valorCampoParametroControl.hasError('required') || nombreParametroControl.hasError('required')">
                <button mat-raised-button title="Complete los campos para guardar parámetro" color="primary"  data-dismiss="modal" style="padding-top: 0px;
                padding-bottom: 0px;float: left; color: white" disabled><i class="material-icons"id="icono">save</i>&nbsp;Guardar</button>
            </span>   
            <span *ngIf="!descripcionParametroControl.hasError('required') && !valorCampoParametroControl.hasError('required') && !nombreParametroControl.hasError('required')">
                <button mat-raised-button title="Guardar parámetro" id="agregar" (click)="operacionRegistro(3, descripcionParametroI.value, valorCampoI.value, nombreParametroI.value)" data-dismiss="modal" style="padding-top: 0px;
                padding-bottom: 0px;float: left; color: white"><i class="material-icons"id="icono">save</i>&nbsp;Guardar</button>
            </span>  
            <br> <br> <br>      
          </div>
          <div class="col-3"></div>
        </div>
      </div>   
    </div>
  </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" style="background-color:  rgba(9, 13, 48, 0.5)">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{headerModal}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-top: -20px; margin-bottom: -30px;">
          <div class="col-3"></div>
          <div class="col-6">
            <form>
              <br>
              <!--Input id
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Id parámetro" value="{{idParametro}}" readonly="readonly" #idParameroA id="idParameroA"> 
              </mat-form-field>    
              <br>-->
              <!--Input descripción-->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput [formControl]="descripcionParametroControlEditar"
                        [errorStateMatcher]="matcher" type="text" matInput placeholder="Descripción" value="{{descripcionParametro}}" #descripcionParametroA required id="descripcionParametroA">
                        <mat-icon matSuffix>text_format</mat-icon>
                        <mat-error *ngIf="descripcionParametroControlEditar.hasError('required')">
                  Descripción es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <!--Input valor campo-->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Valor campo</mat-label>
                <input matInput [formControl]="valorCampoParametroControlEditar"
                        [errorStateMatcher]="matcher" type="text" matInput placeholder="Valor campo" value="{{valorCampoParametro}}" #valorCampoA required id="valorCampoA">
                        <mat-icon matSuffix>create</mat-icon>
                        <mat-error *ngIf="valorCampoParametroControlEditar.hasError('required')">
                  Valor campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <!--Input nombre-->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [formControl]="nombreParametroControlEditar"
                        [errorStateMatcher]="matcher" type="text" matInput placeholder="Nombre parámetro" value="{{nombreParametro}}" #nombreParametroA required id="nombreParametroA">
                        <mat-icon matSuffix>drag_handle</mat-icon>
                        <mat-error *ngIf="nombreParametroControlEditar.hasError('required')">
                  Nombre es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <br><br>    
              <!--Botón actualizar--> 
              <span *ngIf="descripcionParametroControlEditar.hasError('required') || valorCampoParametroControlEditar.hasError('required') || nombreParametroControlEditar.hasError('required')">
                  <button mat-raised-button title="Complete los campos para actualizar parámetro" color="primary" data-dismiss="modal" style="padding-top: 0px;
                  padding-bottom: 0px;float: left; color: white" disabled><i class="material-icons" id="icono">save</i>&nbsp;Actualizar</button>
              </span>   
              <span *ngIf="!descripcionParametroControlEditar.hasError('required') && !valorCampoParametroControlEditar.hasError('required') && !nombreParametroControlEditar.hasError('required')">
                  <button mat-raised-button title="Actualizar parámetro" color="primary" (click)="operacionRegistro(1, descripcionParametroA.value, valorCampoA.value, nombreParametroA.value)" data-dismiss="modal" style="padding-top: 0px;
                  padding-bottom: 0px;float: left; color: white"><i class="material-icons"id="icono">save</i>&nbsp;Actualizar</button>
              </span>
              <br><br><br>
            </form>      
          </div>
          <div class="col-3"></div>
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="exampleModalE" aria-labelledby="exampleModalLabel" style="background-color:  rgba(48, 9, 9, 0.5)">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{headerModal}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row" style="margin-top: -20px; margin-bottom: -30px;">
              <div class="col-1"></div>
              <div class="col-10">
                <br>
                ¿Desea eliminar el parámetro: {{nombreParametro}}?
                <br><br>
          <button mat-raised-button id="eliminar" title="Eliminar parámetro" (click)="operacionRegistro(2, descripcionParametro, valorCampo, nombreParametro)" data-dismiss="modal" style="padding-top: 0px;
          padding-bottom: 0px;float: left; color: white;"><i class="material-icons" id="icono">delete</i> Eliminar </button>        
          <br> <br> <br>      
        </div>
        <div class="col-1"></div>
        </div>
      </div>    
    </div>
  </div>
</div>
