<ngx-spinner
    size="medium"
    color="#fff"
    type="ball-fussion"
>
<br>    
<img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<h5>
    Herramientas &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">build</mat-icon>
    <i class="material-icons" style="vertical-align: bottom;">navigate_next</i>
    Arqueo &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">monetization_on</mat-icon>
</h5>
<mat-tab-group class="mat-elevation-z8">
    <mat-tab label="Arqueo General">
        <app-listaarqueogeneral></app-listaarqueogeneral>
    </mat-tab>
    <mat-tab label="Arqueo Diario">
        <app-listaarqueo></app-listaarqueo>
    </mat-tab>    
</mat-tab-group>


