<h5>Home &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title=""  style="vertical-align: bottom;">home</mat-icon></h5>
<div class="container-fluid" style="padding: inherit;">
    <div class="container">
        <div class="row" id="homeLogo">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
                <img src="./assets/imagenHome.jpg" alt="Banco de Bogotá" width="550" height="280">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="homeDescripcion">
                <br><br>
                <div class="row">
                    <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10">
                        <h4 style="color:black">Aplicación Recobros</h4>
                        <h5>Gerencia de Desarrollo CORE</h5>
                        <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                                    <p>
                                        - Exoneraciones <br>
                                        - Vigencias <br>   
                                        - Verificar Arqueo <br>   
                                        - Reporte de Cobros <br>  
                                        - Revisión de Logs <br> 
                                        - Parametrizar Tramas <br> 
                                        - Manejo de Roles <br>
                                    </p>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                    <img src="./assets/imagenDescripcion.PNG" alt="imagenDescripcion" title="Desarrollado por Comisiones" width="330" height="165">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-alerts></ngx-alerts>

