<ngx-spinner
    size="medium"
    color="#fff"
    type="ball-fussion"
>
<br>    
<img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<h5>
    Configuración &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;" >settings</mat-icon>
    <i class="material-icons" style="vertical-align: bottom;">navigate_next</i>
    Parámetros APP &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;" >settings_applications</mat-icon>
</h5>
<app-regla></app-regla>