<ngx-spinner
    size="medium"
    color="#fff"
    type="ball-fussion"
>
<br>    
<img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<h5>
    Administración &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title=""  style="vertical-align: bottom;">business_center</mat-icon>
    <i class="material-icons"  style="vertical-align: bottom;">navigate_next</i>
    Logs &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title="" style="vertical-align: bottom;">receipt</mat-icon>
</h5>
<app-listalogs></app-listalogs>
