<ngx-spinner
    size="medium"
    color="#fff"
    type="ball-fussion"
>
<br>    
<img src="./assets/logo-bogota-blanco.png" alt="Logo del banco">
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<h5>Gestor del Menú &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" title=""  style="vertical-align: bottom;">apps</mat-icon></h5>
<mat-tab-group class="mat-elevation-z8">
    <mat-tab label="Configuración de menús">        
        <app-listamenu></app-listamenu>
    </mat-tab>
    <mat-tab label="Configuración de roles">
        <app-listarol></app-listarol>
    </mat-tab>
</mat-tab-group>